@import "tailwindcss";

@theme {
  --color-bg-blue: #060B28;
  --color-gd-orange: #E27E65;
  --color-gd-blue: #21026C;
  --color-bt-purple: #51099E;
  --color-gd-eletric1: #D3CD1E;
  --color-gd-eletric2: #7E5200;
  --color-gd-water1: #09D3D3;
  --color-gd-water2: #00014A;
  --color-gd-fire1: #D49113;
  --color-gd-fire2: #7B0B0B;
  --color-gd-grass1: #0CF387;
  --color-gd-grass2: #00542D;
}

html, body, main {
 background: linear-gradient(to bottom, #000000, #05091b);
 box-sizing: border-box;
 overflow-x: hidden;
}